.slider {
    position: relative;
}

.image-list {
    display: flex;
    overflow: hidden;
}

.image-item {
    min-width: 100%;
    transition: transform 0.3s;
    height: 600px;
}

.image-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-btn {
    border: 3px solid transparent;
    border-radius: 2px;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
}

.slider-btn:focus {
    border-color: seagreen;
    box-shadow: -2px -2px 2px white,
    2px 2px 2px white;
    margin: 2px;
}